@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600&subset=latin,cyrillic-ext");
@import url("http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic-ext");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: "Open Sans", sans-serif; font-size: 14px; font-weight: 400; line-height: 1.4; }
body a { text-decoration: none; }
body a:hover { text-decoration: underline; }
body.is-active { position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; }

@media only screen and (max-width: 570px) { .out { position: relative; } }

.wrapper { margin: 0 auto; padding: 0 10px; max-width: 1000px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.wrapper:after { content: " "; display: table; clear: both; }

.ico { display: inline-block; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.ico.ico_f-top { background: url('../img/icons-s5eec0b0a7d.png') 0 -100px no-repeat; width: 32px; height: 32px; }
.ico.ico_tw-top { background: url('../img/icons-s5eec0b0a7d.png') 0 -513px no-repeat; width: 32px; height: 32px; }
.ico.ico_f { background: url('../img/icons-s5eec0b0a7d.png') 0 -142px no-repeat; width: 23px; height: 24px; }
.ico.ico_tw { background: url('../img/icons-s5eec0b0a7d.png') 0 -555px no-repeat; width: 23px; height: 24px; }
.ico.ico_vk { background: url('../img/icons-s5eec0b0a7d.png') 0 -589px no-repeat; width: 24px; height: 24px; }
.ico.ico_g { background: url('../img/icons-s5eec0b0a7d.png') 0 -176px no-repeat; width: 24px; height: 24px; }
.ico:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.ico.ico_open-nav { background: url("../img/svg/menu.svg") no-repeat 0 0; -moz-background-size: 34px 34px 100%; -webkit-background-size: 34px 34px 100%; background-size: 34px 34px 100%; width: 34px; height: 34px; display: inline-block; }
@media only screen and (max-width: 340px) { .ico.ico_open-nav { background: url("../img/svg/menu.svg") no-repeat 0 0; -moz-background-size: 20px 20px 100%; -webkit-background-size: 20px 20px 100%; background-size: 20px 20px 100%; width: 20px; height: 20px; display: inline-block; } }

.btn { position: relative; padding: 0 22px; height: 51px; font-size: 18px; color: white; font-weight: 600; line-height: 51px; -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff800; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff800; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff800; border: 1px solid #ffc42a; background: #ffba00; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; display: inline-block; }
.btn:hover { text-decoration: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.btn:active { top: -1px; }
.btn:before { position: absolute; content: ""; left: 0; top: 0; background: url('../img/icons-s5eec0b0a7d.png') 0 -34px no-repeat; width: 2px; height: 24px; }
.btn:after { position: absolute; content: ""; right: 0; top: 0; background: url('../img/icons-s5eec0b0a7d.png') 0 -68px no-repeat; width: 3px; height: 22px; }
@media only screen and (max-width: 570px) { .btn { height: 38px; font-size: 14px; line-height: 38px; } }

.header { padding: 16px 0; color: #737373; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.header .header__left { float: left; }
.header .header__right { float: right; }
.header .header__text { margin-left: 20px; padding-left: 30px; height: 31px; line-height: 30px; font-size: 20px; text-transform: uppercase; border-left: 1px solid #c4c4c4; }
.header .logo, .header .header__text, .header .soc, .header .entry { vertical-align: middle; display: inline-block; }
.header .header__btn { position: absolute; top: 15px; right: 10px; height: 60px; width: 60px; line-height: 60px; text-align: center; z-index: 30; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; background: #ffba00; background: rgba(255, 186, 0, 0.6); display: none; }
.header .header__btn .ico { vertical-align: middle; }
.header .header__btn.is-active { position: fixed; background: #ffba00; }
@media only screen and (max-width: 340px) { .header .header__btn { height: 45px; width: 45px; line-height: 45px; } }
@media only screen and (max-width: 836px) { .header .header__text { font-size: 16px; } }
@media only screen and (max-width: 768px) { .header .header__text { font-size: 14px; } }
@media only screen and (max-width: 735px) { .header .header__text { display: none; } }
@media only screen and (max-width: 570px) { .header .header__right { margin-top: 10px; width: 100%; }
  .header .header__btn { display: block; } }

.entry { margin-left: 12px; }
.entry a { color: #737373; }

.logo { background: url('../img/icons-s5eec0b0a7d.png') 0 -283px no-repeat; width: 190px; height: 26px; }

.soc { font-size: 0; }
.soc li { margin-left: 6px; display: inline-block; }
.soc li:first-child { margin-left: 0; }

.nav { font-size: 0; background: url(../img/nav-bg.png) repeat-x 0 0; }
.nav .nav__item { position: relative; display: inline-block; }
.nav .nav__item:before { position: absolute; content: ""; left: 0; top: 1px; z-index: 1; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; background: url('../img/icons-s5eec0b0a7d.png') 0 -319px no-repeat; width: 3px; height: 25px; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.nav .nav__item:after { position: absolute; content: ""; right: 0; top: 1px; z-index: 1; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; background: url('../img/icons-s5eec0b0a7d.png') 0 -354px no-repeat; width: 3px; height: 23px; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.nav .nav__item:hover:after, .nav .nav__item:hover:before, .nav .nav__item.is-active:after, .nav .nav__item.is-active:before { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.nav .nav__item:hover a, .nav .nav__item.is-active a { text-decoration: none; background: #fccd4e; border: 1px solid #ffc42a; -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 0 7px rgba(255, 242, 198, 0.4), inset 0 1px 0 #fff800; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 0 7px rgba(255, 242, 198, 0.4), inset 0 1px 0 #fff800; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 0 7px rgba(255, 242, 198, 0.4), inset 0 1px 0 #fff800; background-image: -moz-linear-gradient(bottom, #ffc016 0%, #f7b500 30.15%, #fbcc4d 69.85%, #ffd35e 100%); background-image: -webkit-linear-gradient(bottom, #ffc016 0%, #f7b500 30.15%, #fbcc4d 69.85%, #ffd35e 100%); background-image: linear-gradient(to top, #ffc016 0%, #f7b500 30.15%, #fbcc4d 69.85%, #ffd35e 100%); }
.nav .nav__item:hover:after, .nav .nav__item:hover:before { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.nav .nav__item:hover a:after { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.nav .nav__item.is-active a:before { display: block; }
.nav a { position: relative; padding: 0 51px; height: 68px; line-height: 68px; color: white; font-size: 18px; text-transform: uppercase; border: 1px solid transparent; display: block; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.nav a:before { position: absolute; content: ""; bottom: -8px; left: 50%; margin-left: -7.5px; background: url('../img/icons-s5eec0b0a7d.png') 0 -387px no-repeat; width: 15px; height: 8px; display: none; }
.nav.is-active { display: block; }
@media only screen and (max-width: 980px) { .nav a { padding: 0 38px; } }
@media only screen and (max-width: 768px) { .nav a { padding: 0 28px; } }
@media only screen and (max-width: 668px) { .nav a { padding: 0 20px; font-size: 17px; height: 60px; line-height: 60px; } }
@media only screen and (max-width: 570px) { .nav { position: fixed; top: 0; left: 0; bottom: 0; padding-top: 90px; width: 100%; z-index: 20; overflow: auto; background: #516aae; background: rgba(81, 106, 174, 0.8); display: none; }
  .nav .nav__item { text-align: center; display: block; }
  .nav .nav__item.is-active a:before { display: none; } }

.pagination { text-align: center; padding: 17px 0 37px; }
.pagination .pagination__list { font-size: 0; display: inline-block; }
.pagination li { margin: 0 2px; font-size: 16px; font-weight: 700; display: inline-block; }
@media only screen and (max-width: 340px) { .pagination li { margin: 0; font-size: 14px; } }
.pagination span, .pagination a { height: 23px; width: 22px; color: #737373; text-align: center; display: inline-block; }
.pagination a { line-height: 23px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
@media only screen and (max-width: 340px) { .pagination a { line-height: 21px; } }
.pagination a:hover, .pagination a.is-active { color: white; text-decoration: none; background-color: #fcaf0f; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.pagination a.pagination__prev:hover, .pagination a.pagination__next:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; background-color: white; }
.pagination span { cursor: default; }
.pagination .pagination__prev { background: url('../img/icons-s5eec0b0a7d.png') 0 -492px no-repeat; width: 13px; height: 11px; }
.pagination .pagination__next { margin-left: 4px; background: url('../img/icons-s5eec0b0a7d.png') 0 -471px no-repeat; width: 13px; height: 11px; }

.filter { padding-bottom: 10px; border-bottom: 1px solid #d7d7d7; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 -1px 0 white; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 -1px 0 white; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), inset 0 -1px 0 white; background: url(../img/filter-bg.png) repeat; *zoom: 1; }
.filter:after { content: " "; display: table; clear: both; }
.filter .filter__text { float: left; padding-top: 30px; font-size: 40px; }
.filter .filter__right { float: right; margin-top: 55px; }
.filter .filter__right strong { font-weight: 700; }
.filter .filter__text-yellow { color: #fab701; font-size: 17px; font-weight: 700; text-transform: uppercase; }
.filter .filter__browse, .filter .filter__text-yellow { vertical-align: top; display: inline-block; }
.filter .filter__select { margin-left: 28px; display: inline-block; }
.filter .filter__select:last-child .select__list { left: auto; right: 0; }
@media only screen and (max-width: 768px) { .filter { text-align: center; }
  .filter .filter__text, .filter .filter__right { float: none; }
  .filter .filter__right { margin-top: 6px; } }
@media only screen and (max-width: 344px) { .filter .filter__text-yellow { text-align: center; display: block; }
  .filter .filter__browse { text-align: left; }
  .filter .filter__select { margin-left: 14px; } }

.select .select__text { position: relative; padding: 0 14px 5px 0; font-size: 17px; cursor: pointer; }
.select .select__text:after { position: absolute; content: ""; top: 50%; right: 0; margin-top: -3.5px; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; background: url('../img/icons-s5eec0b0a7d.png') 0 -17px no-repeat; width: 11px; height: 7px; }
.select .select__text:hover:after { -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.select .select__text:hover .select__list { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.select .select__list { position: absolute; left: 0; top: 100%; padding: 1px; min-width: 150px; text-align: left; z-index: 3; -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 0 7px rgba(255, 242, 198, 0.4); -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 0 7px rgba(255, 242, 198, 0.4); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 0 7px rgba(255, 242, 198, 0.4); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; background: #ffc42a; background: rgba(255, 196, 42, 0.8); }
.select .select__list a { padding: 0 15px; color: white; font-size: 17px; height: 34px; line-height: 34px; display: block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.select .select__list a:hover { color: #737373; text-decoration: none; background: white; background: rgba(255, 255, 255, 0.9); }

.user { margin-top: 26px; color: #4c4c4c; text-align: center; }
.user .user__img { position: relative; height: 148px; width: 148px; overflow: hidden; z-index: 2; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; border: 3px solid #ffac00; display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.user .user__field { position: absolute; top: -20px; left: -426px; bottom: -100px; width: 1000px; text-align: center; }
.user .user__field img { display: inline-block; }
.user .user__name { font-size: 18px; font-weight: 400; }
.user .user__text { margin-bottom: 10px; padding: 0 25px; line-height: 1.1; font-size: 14px; font-style: italic; }
@media only screen and (max-width: 570px) { .user { margin: 0 0 25px; } }

.like { position: relative; }
.like .ico { position: absolute; top: 100%; left: 50%; margin-left: -5.5px; margin-top: 2px; cursor: pointer; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.like .ico:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.like .ico:active { margin-top: 1px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.like .ico.ico_like { background: url('../img/icons-s5eec0b0a7d.png') 0 -210px no-repeat; width: 12px; height: 11px; }
.like.is-active .ico_like { background: url('../img/icons-s5eec0b0a7d.png') 0 -231px no-repeat; width: 12px; height: 11px; }

.article { color: #4c4c4c; }
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 { margin: 30px 0 18px; font-size: 36px; font-weight: 600; letter-spacing: -1.2px; }
@media only screen and (max-width: 570px) { .article h1, .article h2, .article h3, .article h4, .article h5, .article h6 { margin: 16px 0 12px; font-size: 28px; } }
@media only screen and (max-width: 340px) { .article h1, .article h2, .article h3, .article h4, .article h5, .article h6 { font-size: 26px; } }
.article p { line-height: 1.5; }
.article img { width: 100%; display: block; }
@media only screen and (max-width: 570px) { .article .row .btn { float: left; } }
.article.article_in { padding: 0 0 20px; border-bottom: 1px solid #e4e6e9; }
.article.article_in p { text-indent: 20px; }
.article.article_in p:first-child { text-indent: 0; }
.article.article_in img { margin: 28px 0; }
@media only screen and (max-width: 340px) { .article.article_in h1, .article.article_in h2, .article.article_in h3, .article.article_in h4, .article.article_in h5, .article.article_in h6 { margin-top: 0; } }

.tags { font-size: 0; }
.tags .tags__item { margin-left: 10px; font-size: 12px; color: #4b4b4b; display: inline-block; text-transform: uppercase; }
.tags .tags__item:first-child { margin-left: 0; }
.tags .tags__item a { color: #737373; }
@media only screen and (max-width: 340px) { .tags .tags__item { margin-left: 5px; font-size: 11px; } }

.img { position: relative; margin: 0 0 28px; }
.img .date { position: absolute; top: 0; left: 50px; padding-top: 8px; width: 44px; color: white; font-weight: 600; text-align: center; line-height: 1; cursor: default; z-index: 2; border: 1px solid #ffc42a; border-bottom: none; -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 6px 13px rgba(255, 242, 198, 0.4); -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 6px 13px rgba(255, 242, 198, 0.4); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), inset 0 6px 13px rgba(255, 242, 198, 0.4); background: #ffc016; background-image: -moz-linear-gradient(bottom, #ffc016 0%, #f7b500 30.15%, #fbcc4d 69.85%, #ffd35e 100%); background-image: -webkit-linear-gradient(bottom, #ffc016 0%, #f7b500 30.15%, #fbcc4d 69.85%, #ffd35e 100%); background-image: linear-gradient(to top, #ffc016 0%, #f7b500 30.15%, #fbcc4d 69.85%, #ffd35e 100%); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.img .date:before { position: absolute; content: ""; left: -1px; bottom: -20px; width: 0px; height: 0px; border-style: solid; border-width: 20px 22px 0 22px; border-color: #ffc016 transparent transparent transparent; }
.img .date__day { font-size: 24px; }
.img .date__month { font-size: 14px; text-transform: uppercase; }

.row { margin-top: 27px; *zoom: 1; }
.row:after { content: " "; display: table; clear: both; }
.row .tags { float: left; margin-top: 30px; }
.row .soc { float: right; margin-top: 20px; }
@media only screen and (max-width: 570px) { .row .soc { margin-top: 10px; } }
.row.row_mod { margin: 0 0 15px 0; }
@media only screen and (max-width: 980px) { .row.row_mod .tags, .row.row_mod .soc { float: none; }
  .row.row_mod .soc { margin-top: 15px; } }
@media only screen and (max-width: 340px) { .row.row_mod { margin: 0; }
  .row.row_mod .soc { text-align: center; } }

.pager { padding: 0 0 58px 215px; }
.pager a { position: relative; max-width: 245px; color: #526baf; font-size: 13px; line-height: 1; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "PT Sans", sans-serif; font-weight: normal; }
.pager a:hover { text-decoration: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.pager a:before { position: absolute; content: ""; top: 50%; margin-top: -11.5px; }
@media only screen and (max-width: 530px) { .pager a { font-size: 0; } }
@media only screen and (max-width: 768px) { .pager { padding: 0 25px 52px; } }
.pager .pager__prev { float: left; padding-left: 35px; }
.pager .pager__prev:before { left: 0; background: url('../img/icons-s5eec0b0a7d.png') 0 -438px no-repeat; width: 26px; height: 23px; }
.pager .pager__next { float: right; padding-right: 35px; text-align: right; }
.pager .pager__next:before { right: 0; background: url('../img/icons-s5eec0b0a7d.png') 0 -405px no-repeat; width: 26px; height: 23px; }

.comments { margin-bottom: 30px; padding: 1px; border: 1px solid #d7d7d7; }
@media only screen and (max-width: 1000px) { .comments .commentForm-box .textareaDef { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .comments .commentForm-box form .inputDefBtn { float: right; margin-top: 20px; }
  .comments .commentForm-box { padding-right: 29px; } }
@media only screen and (max-width: 400px) { .comments .comment-item .user-img-box { margin-left: -60px; width: 50px; }
  .comments .comment-item .user-img-box img { width: 100%; height: auto; }
  .comments .comment-item { padding-left: 60px; }
  .comments .comment-body { font-size: 11px; }
  .comments .userComment-date { font-size: 11px; } }

.footer .wrapper { padding: 25px 10px 115px; }
.footer .footer__top { height: 34px; background: url(../img/footer-bg.png) repeat-x 0 0; }
.footer .footer__right { float: right; width: 17%; }
.footer .footer__logo { display: block; background: url('../img/icons-s5eec0b0a7d.png') 0 -252px no-repeat; width: 152px; height: 21px; }
.footer .copy { margin-top: 8px; color: #737373; font-size: 12px; line-height: 1; }
@media only screen and (max-width: 340px) { .footer .copy { font-size: 10px; } }
.footer .footer__left { float: left; width: 83%; font-size: 0; }
.footer .footer__item { width: 25%; font-size: 13px; vertical-align: top; display: inline-block; }
.footer .footer__title { margin-bottom: 14px; text-transform: uppercase; font-size: 14px; line-height: 1; font-weight: 400; }
.footer .footer__list { font-size: 13px; }
.footer .footer__list li { margin-top: 12px; line-height: 1; }
.footer .footer__list li:first-child { margin-top: 0; }
.footer .footer__list a { color: #737373; }
@media only screen and (max-width: 980px) { .footer .footer__right { width: 167px; }
  .footer .footer__left { width: 77%; } }
@media only screen and (max-width: 768px) { .footer .footer__title { font-size: 13px; }
  .footer .footer__list { font-size: 12px; }
  .footer .footer__right, .footer .footer__left { width: 100%; }
  .footer .footer__right { margin-top: 25px; }
  .footer .footer__logo { float: left; }
  .footer .copy { float: right; } }
@media only screen and (max-width: 570px) { .footer .wrapper { padding-bottom: 50px; }
  .footer .footer__left { display: none; }
  .footer .footer__right { margin-top: 0; } }

.l { margin: 50px 0 25px; padding: 0 0 35px; border-bottom: 1px solid #e4e6e9; *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 212px; }
.l .l-col2 { overflow: hidden; }
@media only screen and (max-width: 570px) { .l { margin-top: 30px; }
  .l .l-col1, .l .l-col2 { float: none; width: 100%; } }
